.button {
    margin: 6px;
    background-color: #CE4257;
    color: white;
    border: none;
    font-size: 1.2em;
    padding: 6px;
    width: 30%;
    display: block;
    transition: color .3s, background-color .3s;
}

.button:hover{
    color: #CE4257;
    background-color: white ;
    border: 1px solid #CE4257;
}

a:hover {
    color: #CE4257;
    background-color: white ;
}

p {
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
}

.thumb {
    height: 300px;
    
}

.head {
    text-align: center;
    margin: 20px auto;
}

a {
    color: white;
    text-decoration: none;
}

code {
    font-size: small;
    text-align: center;
}

ul {
    text-align: left;
    width: 80%;
    margin: 30px auto;
    min-width: 300px;
}

.main {
    width: 90%;
    margin: 10px auto;
}

svg {
    fill: #f4f4f4;
    stroke: #f4f4f4
}

svg:hover {
    fill: #CE4257;
    stroke: #CE4257;
}

ul svg {
    fill: #CE4257;
    stroke: #CE4257;
}

.red {
    color: #CE4257;
}

.orange {
    color: #4F000B
}