.button {
  margin: 6px;
  background-color: #ce4257;
  color: white;
  border: none;
  font-size: 1.2em;
  padding: 6px;
  width: 30%;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  color: #ce4257;
  background-color: white;
  border: 1px solid #ce4257;
}

a:hover {
  color: #ce4257;
  background-color: white;
}

p {
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}

.thumb {
  height: 300px;
}

.head {
  text-align: center;
  margin: 20px auto;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-size: small;
  text-align: center;
}

ul {
  text-align: left;
  width: 80%;
  margin: 30px auto;
  min-width: 300px;
}

.main {
  width: 90%;
  margin: 10px auto;
}

svg {
  fill: #f4f4f4;
  stroke: #f4f4f4;
}

svg:hover {
  fill: #ce4257;
  stroke: #ce4257;
}

ul svg {
  fill: #ce4257;
  stroke: #ce4257;
}

.red {
  color: #ce4257;
}

.orange {
  color: #4f000b;
}

@media screen and (max-width: 600px) {
  header nav {
    position: fixed;
    bottom: 0;
    flex-wrap: nowrap !important;
    overflow: auto;
    width: 95%;
    margin: auto;
  }

  footer nav {
    display: none !important;
  }

  p {
    font-size: 0.8em;
  }

  header nav {
    height: 10%;
    padding: 4px;
  }

  header nav a {
    margin: 7px !important;
    padding: 0px !important;
  }

  body {
    height: 1300px;
  }

  .gonesmall {
    display: none;
  }

  .StyledBox__StyledBoxGap-sc-13pk1d4-1 {
    width: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  p {
    /* word-break: break-all; */
    overflow: scroll;
    font-size: 0.9em;
    max-width: 90%;
    margin: auto;
  }

  header nav {
    height: 10%;
    padding: 2px;
  }

  body {
    height: 1100px;
  }

  .sub,
  ul,
  hr:first-of-type,
  #plug {
    display: none;
  }

  svg {
    height: 0.6em;
    width: 0.6em;
    line-height: 20px;
  }

  header nav a {
    margin: 6px !important;
    padding: 0 !important;
  }
}
